<a name="<%= version %>"></a>
<% if (release === "Patch") { %>
## [<%= version %>](<%= repositoryUrl %>/compare/<%= tag %>..<%= newTag %>) (<%= dateTime %>)
<% } else { %> 
# [<%= version %>](<%= repositoryUrl %>/compare/<%= tag %>..<%= newTag %>) (<%= dateTime %>)
<% } %>

